.technology-body {
    background-image: url(../images/technology-page-desktop-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: 111%;
}

.t-site-header{
    padding: 40px 0 100px 0;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-logo-link {
    display: inline-block;
}

.header-line{
    width: 210px;
    position: absolute;
    left: 100px;
    z-index: 2;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-list {
    margin-right: 165px;
    padding: 0 100% 0 123px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .04);
    -webkit-backdrop-filter: blur(40.7742271423px);
    backdrop-filter: blur(40.7742271423px);
    z-index: 1;
}

.navbar-item{
    padding-top: 39px;
    padding-bottom: 35px;
    position: relative;
    cursor: pointer;
}

.navbar-item::before{
    content: "";
    width: 0;
    height: 3px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    transition: all 0.4s linear;
}

.navbar-item:hover::before{
    width: 100%;
}

.navbar-item+.navbar-item {
    margin-left: 52px;
}

.navbar-link-span {
    margin-right: 14px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}

.navbar-link {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

.t-hero-section {
    margin-left: 166px;
    padding-bottom: 112px;
    overflow: hidden;
}

.t-hero-title-span {
    margin-right: 24px;
    opacity: .25;
}

.t-hero-title {
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 4.725px;
}

.t-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.t-hero-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.t-hero-content-list {
    width: 80px;
    flex-direction: column;
}

.t-hero-content-item{
    width: 80px;
    height: 80px;
    padding: 22px 0;
    margin-bottom: 32px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    transition: all 0.4s linear;
}

.t-hero-content-item:hover{
    background-color: #fff;
    color: #0b0d17;
}

.t-hero-context-wrapper {
    width: 470px;
    margin-left: 50px;
}

.t-hero-content-span {
    margin-bottom: 11px;
    color: #d0d6f9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

.t-hero-content-title {
    margin-bottom: 17px;
    color: #fff;
    font-family: "Bellefair", serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.t-hero-content-wrapper {
    width: 444px;
}

.t-hero-content-text {
    color: #d0d6f9;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}